                                     Software Requirements



Opertaing System: Ubuntu 14.04 LTS, Windows(7 or 8)
  (For Windows, install python.)
MySQL   :  version 5.6.24
 	sudo apt-get install mysql-server
Django     :    versio
           sudo apt-get install pip          
            pip install django
R : version -3.2.0
           sudo apt-get install r-base-core
R packages
                      RMySQL
                               install.packages(“RMySQL”)
                      GoogleVis
                                install.packages(“googleVis”)
       
